body {
    background-color: #1A661A;
    color: white;
    text-align: center;
}
h1{
    color:#f1f1ad
}
ul,
ol{
    text-align: left;
    display: inline-block;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img {
    border-radius: 50%;
    border: 5px solid #f1f1ad;
}
a {
    color: #f1f1ad;
}
table {
    border: 2px solid #f1f1ad;
    border-collapse: collapse;
}
a:hover {
    color: orange;
}